{% extends "base.html" %}
{% block content %}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 100px; width: 100%') }}
    <div class="container-fluid">
        <div class="jumbotron">
            <legend>Add a Meter to the Inventory</legend>
            <form action="{{ url_for('form_add_a_meter') }}" method="post">
                <p>
                    <label for="brandName">What is the Brand of the meter:</label>
                    <input type="text" class="form-control" id="brandName" name="brandName" placeholder="Fluke">
                </p>
                <p>
                    <label for="category">What category does this meter belong to:</label>
                    <input type="text" class="form-control" id="category" name="category" placeholder="Power Meter">
                    <small id="categoryHelp" class="form-text text-muted">If this meter fits into more then one category
                        separate the types with a ;</small>
                </p>
                <p>
                    <label for="serialNumbers">What are the serial number(s) of the meter</label>
                    <textarea class="form-control" id="serialNumbers" rows="3"></textarea>
                     <small id="serialNumbersHelp" class="form-text text-muted">If there are multiple meters please
                        separate the names with a ;</small>
                </p>

                <hr class="my-4">
                <p>
                    {{ dropzone.create() }}
                    <small id="documentationHelp" class="form-text text-muted">Documentation includes, Sell Sheets,
                        Spec Sheets, Manuals, Calibration Documents, etc</small>
                </p>
                <button type="submit" id="submit" class="btn btn-primary">Submit and Upload</button>
            </form>

            {{ dropzone.load_js() }}
            {{ dropzone.config() }}
        </div>
    </div>

{% endblock %}