{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="jumbotron">
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="addToInventory">
                      Add a new meter to the Inventory
                    </a>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" style="background:#e9ecef">
                      <div class="jumbotron">
                        <form action="{{ url_for('handleMeterRequest') }}" method="post">
                            <div class="form-group">
                                <p>
                                    <label for="installationDate">Installation Date:</label>
                                    <input type="date"  id="installationDate" name="installationDate">
                                    <label for="removalDate">Removal Date:</label>
                                    <input type="date" id="installationDate" name="removalDate">
                                </p>
                                <p>
                                    <label for="qntDentElietPro">Please Select the Quantity of Dent Eliet Pro Requesting:</label>
                                    <input type="number" name="qntDentElietPro" min="0" max="30">
                                </p>
                                <p>
                                    <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
                                </p>
                            </div>
                        </form>
                      </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}